In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector as connection

As a Data Analyst, I want to use MySQL Connector to establish a connection to my remote data source

In [5]:
my_sales_df = connection.connect(host= "devcodecamp-mysql.c5p7yvjq1h8y.us-east-2.rds.amazonaws.com", database= "salesdb", user= "root", password= "D3v$tudent", use_pure= True)

 As a Data Analyst, I want to query my database to JOIN the information from the sales and cities tables together, and save the result as a single DataFrame variable

In [7]:
joined_query = "SELECT * FROM SALES LEFT JOIN ON SALES.CITY_ID = CITIES.CITY_ID"

joined_df = pd.read_sql(joined_query, my_sales_df)
joined_df.head()

C:\Users\bcabb\AppData\Local\Temp\ipykernel_17248\3382589783.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  joined_df = pd.read_sql(joined_query, my_sales_df)

DatabaseError: Execution failed on sql 'SELECT * FROM SALES LEFT JOIN ON SALES.CITY_ID = CITIES.CITY_ID': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'ON SALES.CITY_ID = CITIES.CITY_ID' at line 1